{% extends 'layout.html' %}
{% block body %}

<h2>Unrated Games</h2>
<p>
{% for game in all_games %}
    {% if game.rated == False %}
        Name:{{ game.game_name }}<br>
        Genre:{{ game.genre}}<br>
        {{ game.description}}<br>
        Age Rating:{{ game.age_rating}}+<br>
                     
        <br>
    {% endif %}
{% endfor %}
</p>
<h2>Rated Games</h2>
<p>
{% for game in all_games %}
    {% if game.rated == True %}
         Name:{{ game.game_name }}<br>
        Genre:{{ game.genre}}<br>
        {{ game.description}}<br>
        Age Rating:{{ game.age_rating}}+<br>    
        <br>
    {% endif %}
{% endfor %}

</p>
{% endblock body %}