<html>
    <head>
        <title>Games Rating App - {{ title }}</title>
    </head>
    <body>
        <h1>Games Rating App - {{ title }}</h1>
        <a href="{{ url_for('home') }}">Home </a>
        <br>
        <a href="{{ url_for('add_game') }}">Add Game </a>
        <br>
        <a href="{{ url_for('add_rating') }}">Add Rating </a>
        <br>
        <a href="{{ url_for('delete_game') }}">Delete Game </a>
        <br>
        <a href="{{ url_for('update') }}">Update Game Info </a>
        {% block body %}
        {% endblock body %}
    </body>
</html>